body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(135deg, white, #0000FF20);
    text-align: -webkit-center;
}

.title {
    font-weight: bold;
    font-size: larger;
    margin-bottom: 20px;
    color: black;
    text-align: start;
}

.brand-details {
    margin:50px;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* align-content: center; */
    justify-content: flex-start;
    align-items: center;
}
h2{
    margin-top: 5px;
    margin-bottom: 0px;
}
h3{
    margin-top: 5px;
    margin-bottom: 0px;
}

.gtin {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    align-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.gtinLbl {
    font-weight: lighter;
    font-size: 10px;
    margin-bottom: 5px;
}

.gtinValue {
    font-weight: bold;
    font-size: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    width: 100%;
    max-width: 600px;
}

.grid-item {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    background: white;
    margin: 5px 0;
    color: gray;
}

.profile img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.profile .info {
    text-align: left;
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    padding: 5px;
}

.profile .wearable-info{
    text-align: left;
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
}

.profile .info div {
    margin-bottom: 10px;
}

.profile .wearable-info div {
    margin-bottom: 10px;
}

.profile .info label {
    font-weight: bold;
    color: black;
}
.profile .wearable-info label {
    font-weight: bold;
    color: black;
}

span {
    color: black;
}